<html>
    <head>
        <h1 style= "text-align: center; color: brown;"> <b>Fill the form</b></h1>
    </head>
    <body>
        
        <form action="/blogs" method='post'>
            <h3 style="text-align:center; line-height: 1.5;"><b>Pregnant</b>
            <input type="text" name='preg' placeholder='preg' required= 'required' />
            <b>&emsp; plas</b>
            <input type="text" name='plas' placeholder='plas' required= 'required' />
            <b>&emsp; Pressure</b>
            <input type="text" name='pres' placeholder='pres' required= 'required' />
            <b>&emsp; skintype</b>
            <input type="text" name='skin' placeholder='skin' required= 'required' /></h3>
            <h3 style="text-align:center; line-height: 1.5;"><b> test report</b>
            <input type="text" name='test' placeholder='test' required= 'required' />
            <b>&emsp; mass</b>
            <input type="text" name='mass' placeholder='mass' required= 'required' />
            <b>&emsp; pedi</b>
            <input type="text" name='pedi' placeholder='pedi' required= 'required' />
            <b>&emsp; age</b>
            <input type="text" name='age' placeholder='age' required= 'required' />
            </h3>

            <h3 style="text-align:center; line-height: 1.5;"><button type='submit'>Predict</button></h3>

        </form>


    </body>

</html>